<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pomodoro Timer</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css" type="text/css" />
</head>
<body ng-app="PomodoroApp">
  <h1 class="text-center">Pomodoro Timer</h1>
  <div class="container" ng-controller="PomodoroController">
    <div class="row center-block">
      <div class="text-center lead col-md-offset-3 col-md-3 col-sm-offset-2 col-sm-4 col-xs-offset-2 col-xs-4">
        <h4>BREAK LENGTH</h4>
        <p><button class="btn btn-sm btn-primary" ng-click="break.decrease()">-</button></span> {{ break.length | secondsToDateTime | date: 'm' }} <span ng-click="break.increase()"><button class="btn btn-sm btn-primary">+</button></span></p>
      </div>
      <div class="text-center lead col-md-3 col-sm-4 col-xs-4">
        <h4>SESSION LENGTH</h4>
        <p><button ng-click="session.decrease()"class="btn btn-sm btn-primary">-</button> {{ session.length | secondsToDateTime | date: 'm' }} <button class="btn btn-sm btn-primary" ng-click="session.increase()">+</button></p>
      </div>
    </div>
  <p class="lead text-center">Click below to start or stop the timer</p>
    <div class="row center-block">
      <button id="timer" class="center-block btn btn-primary" ng-click="session.countdown()">
        <h1>{{ buttonText }}</h1>
        <p class="lead">{{ buttonTime | secondsToDateTime | date: 'm:ss' }}</p>
      </button>
    </div>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script type="text/javascript" src="pomodoro.js"></script>
</body>
</html>
